html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  /* Navbar is 76px in desktop */
  scroll-padding-top: 5.75rem;
}

/* https://caniuse.com/mdn-css_properties_scroll-padding-top */
/*[id]::before {
  content: '';
  display: block;
  height: 5rem;
  margin-top: -5rem;
  visibility: hidden;
}*/
